:root{
  --black:#000;
  --white:#fff;
  --gray:#6b7280;
  --border:#d1d5db;
}

*{margin:0;padding:0;box-sizing:border-box;font-family:Inter,system-ui,-apple-system;}

body{
  height:100vh;
  display:flex;
  background:#000;
}

.left{
  flex:1;
  color:#fff;
  padding:70px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  gap:28px;
}

.left .logo{
  font-size:26px;
  font-weight:600;
}

.left h1{
  font-size:34px;
  line-height:1.2;
  max-width:420px;
}

.left img{
  width:420px;
  margin-top:10px;
}

.right{
  width:520px;
  background:#fff;
  border-radius:36px 0 0 36px;
  padding:40px 46px;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.top-lang{
  text-align:right;
  font-size:13px;
  color:var(--gray);
  margin-bottom:12px;
}

.right h2{
  font-size:22px;
  margin-bottom:18px;
}

.social{
  display:flex;
  gap:10px;
  margin-bottom:18px;
}

.social button{
  flex:1;
  padding:10px;
  border:1px solid var(--border);
  background:#fff;
  border-radius:10px;
  cursor:pointer;
  font-size:13px;
}

.or{
  text-align:center;
  font-size:12px;
  color:var(--gray);
  margin:12px 0;
}

.field{
  margin-bottom:18px;
}

.field input{
  width:100%;
  border:none;
  border-bottom:1px solid var(--border);
  padding:10px 2px;
  font-size:14px;
  outline:none;
}

.password{
  position:relative;
}

.password span{
  position:absolute;
  right:0;
  top:10px;
  font-size:12px;
  cursor:pointer;
  color:var(--gray);
}

.error{
  font-size:12px;
  color:#dc2626;
  margin-top:4px;
  display:none;
}

.submit{
  width:100%;
  padding:14px;
  background:#000;
  color:#fff;
  border:none;
  border-radius:10px;
  font-size:14px;
  font-weight:600;
  cursor:pointer;
  margin-top:6px;
}

 .footer{
  text-align:center;
  font-size:13px;
  color:var(--gray);
  margin-top:16px;
}
.footer b{color:#000;cursor:pointer}
.btn {
  background: #4f46e5;
  color: rgb(0, 0, 0);
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
}

.btn:active {
  background: #3730a3; 
}
